PORT=8000
MONGODB_URL=mongodb+srv://Abhinav:Abhinavc2p2@cluster0.zxag3.mongodb.net
CROSS_ORIGIN=*
ACCESS_TOKEN_SECRET="C2P2C2P2C2P2"
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET="C2P2C2P2C2P2"
REFRESH_TOEKN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME="douxuvis1"
CLOUDINARY_API_KEY="465815481684878"
CLOUDINARY_API_SECRET="U8tuUhSxaZLVa8duvRyt1CsoF2Q"